#navbar {
    font-family: Helvetica;
    background-color: rgb(126, 126, 126);
    color: aliceblue;
    font-size: 32px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid;
    border-radius: 20px;
}

#title {
    padding-right: 200px;
}

.items:hover {
    background-color: rgb(172, 172, 172);
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.boxes {
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    border-color: rgb(131, 131, 131);
    color: rgb(81, 81, 81);
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}


.boxtitle {
    font-weight: bold;
}