#navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(126, 126, 126);
    color: aliceblue;
    font-size: 32px;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid;
    border-radius: 20px;
}

#bartitle {
    margin-right: auto;
    margin-left: clamp(16px, 4vw, 200px);
}

.items{
    margin-left: 20px;
}
.items:hover {
    opacity: 0.5;
}

#menu {
    display: flex;
    padding-right: clamp(16px, 4vw, 200px);
}

a {
    text-decoration: none;
    color: aliceblue;
}

.boxes {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid;
    border-color: rgb(131, 131, 131);
    color: rgb(81, 81, 81);
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}


.boxtitle {
    font-weight: bold;
}

.experiencesection {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    background-color: rgb(131, 131, 131);
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    align-items: center;
}

.logo {
    max-width: 100px;
    padding: 20px;
    border-radius: 50%;
}

.output {
    max-width: 300px;
    height:auto;
    padding: 20px;
}


@media (max-width: 1200px) and (min-width: 769px) {
    .experiencesection {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }

    .output {
        display: flex;
        max-width: 50%;
        height: auto;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    .boxes {
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: row;
        text-align: right;
    }

    #menu {
        flex-direction: column;
        padding: 0;
    }

    .items {
        margin: 10px;
    }

    .experiencesection {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }

    .output {
        max-width: 90%;
        height: auto;
        padding: 10px;
    }

    .boxes {
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }
}