#navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(126, 126, 126);
    color: aliceblue;
    font-size: 32px;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid;
    border-radius: 20px;
}

#bartitle {
    margin-right: auto;
    margin-left: clamp(16px, 4vw, 200px);
}

.items{
    margin-left: 20px;
}
.items:hover {
    opacity: 0.5;
}

#menu {
    display: flex;
    padding-right: clamp(16px, 4vw, 200px);
}

a {
    text-decoration: none;
    color: aliceblue;
}

img {
    border-radius: 20px;
    max-width: 300px;
}

.boxtitle {
    font-weight: bold;
}

.projectboxes {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    border-radius: 20px;
}

#topRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(81, 81, 81);
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(126, 126, 126);
    align-items: center;
    text-align: center;
}

#project-card1:hover {
    background-color: rgb(145, 145, 145);
    opacity: 0.5;
}

img {
    max-width: 90%;
}

#project-card2:hover {
    background-color: rgb(172, 172, 172);
    opacity: 0.5;
}



#project-card3:hover {
    background-color: rgb(172, 172, 172);
    opacity: 0.5;
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: row;
        text-align: right;
    }

    #menu {
        flex-direction: column;
        padding: 0;
    }

    .items {
        margin: 10px;
    }
}