#navbar {
    font-family: Helvetica;
    background-color: rgb(126, 126, 126);
    color: aliceblue;
    font-size: 32px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid;
    border-radius: 20px;
}

#title {
    padding-right: 200px;
}

.items:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#div2 {
    display: flex;
    font-family: Helvetica;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#namediv p{
    padding-right: 30px;
    margin:25px;
    align-content: center;
}

#hi {
    font-size: 45px;
    color: gray;
}

#name {
    font-size: 70px;
    color: rgb(81, 81, 81);
}

#job {
    font-size: 35px;
    color: gray;
}

#placeholder {
    width: 400px;
}

.boxes {
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    border-color: rgb(131, 131, 131);
    color: rgb(81, 81, 81);
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}

.boxes a{
    color: rgb(81, 81, 81);
}

.boxtitle {
    font-weight: bold;
}